@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Cairo:wght@500&family=Comfortaa:wght@600&family=Comforter+Brush&family=Dosis:wght@700&family=Fuzzy+Bubbles:wght@700&family=Josefin+Sans:wght@700&family=Kaushan+Script&family=Libre+Franklin:wght@800&family=Manrope:wght@800&family=Montserrat:wght@400;500;600&family=Nunito:wght@700&family=Oswald:wght@600&family=Pacifico&family=Peralta&family=Quicksand:wght@400;700&family=Raleway:wght@400;600;800&family=Silkscreen&family=Teko:wght@300;600&family=Titillium+Web:wght@700&display=swap') ;

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
.bagel{
  font-family: 'Bagel Fat One', cursive;
}
.nutino{
  font-family: 'Nunito', sans-serif;

}
.titil{
  font-family: 'Titillium Web', sans-serif;
}
.oswald{
  font-family: 'Oswald', sans-serif;
}
::-webkit-scrollbar{
  display: none;
}
::placeholder{
 color: black;
}